.centered-button {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-header {
    position: fixed;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -42%);
}